{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TelkomDSC</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .page_loader {
            position: fixed;
            background: url('../../static/dist/img/loadingz.gif') 50% 50% no-repeat rgb(249, 249, 249);
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            opacity: .5;
        }

        a.active {
          border-bottom: 2px solid #55c57a;
        }

        .nav-link {
          color: rgb(110, 110, 110);
          font-weight: 500;
        }
        .nav-link:hover {
          color: #55c57a;
        }

        .nav-pills .nav-link.active {
          color: black;
          background-color: white;
          border-radius: 0.5rem 0.5rem 0 0;
          font-weight: 600;
        }

        .tab-content {
          padding-bottom: 1.3rem;
        }

        .form-control {
          background-color: rgb(241, 243, 247);
          border: none;
        }

        /* 3nd card */
        span {
          margin-left: 0.5rem;
          padding: 1px 10px;
          color: white;
          background-color: rgb(143, 143, 143);
          border-radius: 4px;
          font-weight: 600;
        }

        .third {
          padding: 0 1.5rem 0 1.5rem;
        }

        label {
          font-weight: 500;
          color: rgb(104, 104, 104);
        }


        .form-control:focus {
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2);
        }

        select {
          text-indent: 1px;
          text-overflow: "";
        }

        /* 1st card */

        ul {
          list-style: none;
          margin-top: 1rem;
          padding-inline-start: 0;
        }

        .search {
          padding: 0 1rem 0 1rem;
        }

        .ccontent li .wrapp {
          padding: 0.3rem 1rem 0.001rem 1rem;
        }

        .ccontent li .wrapp div {
          font-weight: 600;
        }

        .ccontent li .wrapp p {
          font-weight: 360;
        } 

        .ccontent li:hover {
          background-color: rgb(117, 93, 255);
          color: white;
        }

        /* 2nd card */

        .addinfo {
          padding: 0 1rem;
        }

    </style>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css'%}">
</head>
<body>
    <div class="container">
      <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#dashboard-live" role="tab" aria-controls="pills-home" aria-selected="true" style="color: black;
          background-color: white;">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#dashboard-action" role="tab" aria-controls="pills-profile" aria-selected="false" style="color: black;
          background-color: white;">Hoax Detector</a>
        </li>
      </ul>
      <!-- content -->
      <div class="tab-content" id="pills-tabContent p-3">
        <!-- 1st card -->
        <div class="tab-pane fade show active" id="dashboard-live" role="tabpanel" aria-labelledby="pills-home-tab">
          
          <div class="ccontent">
            <!-- CONTENT LIVE DASHBOARD -->
            <div class="text-center">
              <h2>
                Live Hoax News Analysis
              </h2>
            </div>
            <div>
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-info">
                        <div class="inner">
                          <h3>{{ data_mart_total.1 }}</h3>
          
                          <p>Total Data</p>
                        </div>
                        <div class="icon">
                          <i class="ion"><img src="{% static 'dist/img/total data.png'%}" style="width: 70px;height: 70px;"></i>
                          
                        </div>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-success">
                        <div class="inner">
                          <h3>{{ data_mart_total.2 }}</h3>
          
                          <p>HOAX</p>
                        </div>
                        <div class="icon">                          
                          <i class="ion"><img src="{% static 'dist/img/hoax.png'%}" style="width: 70px;height: 70px;"></i>
                        </div>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-warning">
                        <div class="inner">
                          <h3>{{ data_mart_total.3 }}</h3>
          
                          <p>Not HOAX</p>
                        </div>
                        <div class="icon">
                          <i class="ion"><img src="{% static 'dist/img/not hoax.png'%}" style="width: 70px;height: 70px;"></i>
                        </div>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-danger">
                        <div class="inner">
                          <h3>{{ data_mart_total.4 }}</h3>
          
                          <p>Daily Data</p>
                        </div>
                        <div class="icon">
                          <i class="ion"><img src="{% static 'dist/img/daily data.png'%}" style="width: 70px;height: 70px;"></i>
                        </div>
                      </div>
                    </div>
                    <!-- ./col -->
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="row">
                  <div class="col-lg-8">
                    <div class="card">
                      <div class="card-header border-0">
                        <div class="d-flex justify-content-between">
                          <h3 class="card-title">Last 7 Days Monitoring</h3>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- /.d-flex -->
                        
                        <div class="position-relative mb-4">
                          <canvas id="daily-chart" height="200"></canvas>
                        </div>
        
                        <div class="d-flex flex-row justify-content-end">
                          <span class="mr-2">
                            <i class="fas fa-square text-primary"></i>HOAX
                          </span>
        
                          <span>
                            <i class="fas fa-square text-gray"></i>NOT HOAX
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header border-0">
                          <h3 class="card-title">Most 10 Latest News</h3>
                          <div class="card-tools">
                          </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                          <table class="table table-striped table-valign-middle">
                            <thead>
                            <tr>
                              <th>Title</th>
                              <th>Source</th>
                              <th>Indikasi Hoax</th>
                            </tr>
                            </thead>
                            <tbody id="data_all_news">
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.card -->

                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-header border-0">
                          <div class="d-flex justify-content-between">
                            <h3 class="card-title">Statistics</h3>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="chart-responsive">
                                <canvas id="pieChart" height="150"></canvas>
                              </div>
                              <!-- ./chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                              <ul class="chart-legend clearfix">
                                <li><i class="fa fa-solid fa-circle text-success"></i>HOAX</li>
                                <li><i class="fa fa-solid fa-circle text-warning"></i>NOT HOAX</li>
                              </ul>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.card-body -->

                      </div>
                      <!-- /.card -->
          
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">
                            5 keywords with the most hoax news
                          </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <ul class="todo-list" data-widget="todo-list" id="keyword_hoax">
                            
                                
                          </ul>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">
                            wordCloud Hoax News
                          </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            
                            <div id="cloud_hoax"></div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">
                            wordCloud Not Hoax News
                          </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            
                            <div id="cloud_nothoax"></div>
                        </div>
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col-md-6 -->
                  </div>
                  <!-- /.row -->
                </div>

            </div>

          </div>
        </div>
        <!-- 2nd card -->
        <div class="tab-pane fade" id="dashboard-action" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="ccontent">
          <!-- CONTENT ACTION DASHBOARD -->
          <div class="text-center">
            <h2>
                HOAX DETECTOR
            </h2>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">News Content</label>
            <textarea class="form-control" id="formNewsContent" rows="4" placeholder="Ketikkan Berita Yang Akan Diperiksa ......"></textarea>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" id="cekBerita" class="btn btn-primary">Submit</button>
            </div>
          </div>
            <br>
            <div id="hasilPenelusuran">
          </div>
        </div>
      </div>
    </div>

    <div class="page_loader"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.js'  %}"></script>
    
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.1/build/d3.layout.cloud.js"></script>




</body>
</html>

<script>
  // loader
  function loaderPage(stat) {
    if (stat == true) {
        $('.page_loader').show();
    } else {
        $('.page_loader').hide();
    }
  };

  loaderPage(false);

  var data_hoax = []
  var data_nothoax = []
  var data_date = []

  var all_data_hoax = Number('{{data_mart_total.2}}')
  var all_data_nothoax = Number('{{data_mart_total.3}}')

  // ajax for get data
  $(document).ready(function () {
    loaderPage(true)
    // Using Ajax for call api all data
    $.ajax({
      url: 'getAllData',
      type: 'GET',
      success: function (data) {
        data_hoax = data['data_hoax']
        data_nothoax = data['data_nothoax']
        data_date = data['data_date']

        var maxs1 = Math.max(...data_hoax);
        var maxs2 = Math.max(...data_nothoax);
        
        var maxs = maxs1 > maxs2 ? maxs1 : maxs2;
        
        var $dailyChart = $('#daily-chart')

        var mode = 'index'
        var intersect = true

        var ticksStyle = {
          fontColor: '#495057',
          fontStyle: 'bold'
        }

        var dailyChart = new Chart($dailyChart, {
          data: {
            labels: data_date,
            datasets: [{
              type: 'line',
              data: data_hoax,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              pointBorderColor: '#007bff',
              pointBackgroundColor: '#007bff',
              fill: false
            },
            {
              type: 'line',
              data: data_nothoax,
              backgroundColor: 'tansparent',
              borderColor: '#ced4da',
              pointBorderColor: '#ced4da',
              pointBackgroundColor: '#ced4da',
              fill: false
            }]
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              mode: mode,
              intersect: intersect
            },
            hover: {
              mode: mode,
              intersect: intersect
            },
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                gridLines: {
                  display: true,
                  lineWidth: '4px',
                  color: 'rgba(0, 0, 0, .2)',
                  zeroLineColor: 'transparent'
                },
                ticks: $.extend({
                  beginAtZero: true,
                  suggestedMax: maxs
                }, ticksStyle)
              }],
              xAxes: [{
                display: true,
                gridLines: {
                  display: false
                },
                ticks: ticksStyle
              }]
            }
          }
        })

        var data_all_news = data['data_all']
        var data_html = ``

        data_all_news.forEach(function (value) {
          data_html += `<tr>
                          <td><a href="` + value[4] + `" target="_blank" style="color: black;"><b>` + value[1] + `</b></a>
                          </td>
                          <td>` + value[2] + `
                          </td>
                          <td>` + value[3] + ` %
                          </td>
                        </tr>`
        });

        $('#data_all_news').html(data_html)

        var keyword_hoaxker = data['keyword_hoaxker']

        var keyword_html = ``

        keyword_hoaxker.forEach(function (value) {
          keyword_html += `<li>
                            <span class="text">`+ value[0] +` | ` + value[1] + `</span>
                          </li>
                          `
        });

        $('#keyword_hoax').html(keyword_html)

        loaderPage(false)

      },
      error: function (error) {
        loaderPage(false)
        alert('There has been a problem with your ajax operation:', error);
      }
    });
  });

  // use piechart for display comparison of hoax and not hoax
  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')

  var pieData = {
    labels: [
    'NOT HOAX',
    'HOAX',
    ],
    datasets: [
      {
        data: [all_data_nothoax, all_data_hoax],
        backgroundColor: ['#ffc107', '#00a65a']
      }
    ]
  }

  var pieOptions = {
    legend: {
      display: false
    }
  }

  var pieChart = new Chart(pieChartCanvas, {
    type: 'pie',
    data: pieData,
    options: pieOptions
  })

  // hoax detection
  $("#cekBerita").on("click", function () {
    if ($("#formNewsContent").val() != ''){
      loaderPage(true)
      // Using Ajax for call api Expert system
      $.ajax({
        url: 'checkNewsData',
        data: {'news':$("#formNewsContent").val()},
        type: 'GET',
        success: function (data) {
          // result of detection
          var res_html = `
                        <div class="card" style="border: 3px solid black;">
                          <div class="card-header border-0">
                            <h3 class="card-title">Hasil Penelusuran</h3>
                            <div class="card-tools">
                            </div>
                          </div>
                          <div class="card-body table-responsive p-0">
                            <div style="margin: 20px;">
                              <h6>
                                `+ $("#formNewsContent").val() +`
                              </h6>
                              </br>
                              <h6>
                                Berdasarkan hasil penelusuran kami, disimpulkan bahwa Berita ini memiliki tingkat probabilitas hoaks sebesar <b>`+ data['probability_hoax'] +` %</b> dan tingkat probabilitas bukan sebagai berita Hoaks sebesar <b>`+ data['probability_not_hoax'] +` %</b>
                              </h6>
                              <h6>
                                Sehingga disimpulkan bahwa berita tersebut merupakan <b>`+ data['simpulan'] +`</b>
                              </h6>
                              
                            </div>
                          </div>
                        </div>
                          `
          
          $('#hasilPenelusuran').html(res_html)


          console.log(data)
          loaderPage(false)

        },
        error: function (error) {
          loaderPage(false)
          alert('There has been a problem with your ajax operation:', error);
        }

      });
    } else {
      alert('Konten tidak boleh kosong')
    }


  });

  // Using Ajax for get wordcloud
  $.ajax({
      url: 'getDataWord',
      type: 'GET',
      success: function (data) {
        // split wordcloud hoax and not hoax
        var word_hoax = data['word_hoax']
        var word_nothoax = data['word_nothoax']
        
        var skillsToDraw1 = []

        // set hoax wordcloud
        word_hoax.forEach(function (value) {
          skillsToDraw1.push({text : value[0], size : value[1]});
        });

        var skillsToDraw2 = []
        // set not hoax wordcloud
        word_nothoax.forEach(function (value) {
          skillsToDraw2.push({text : value[0], size : value[1]});
        });
        var width = 500;
        var height = 500;
        var fill = d3.scale.category20();

        // use d3 js for hoax wordcloud
        d3.layout.cloud()
          .size([width, height])
          .words(skillsToDraw1)
          .rotate(function() {
            return ~~(Math.random() * 2) * 90;
          })
          .font("Impact")
          .fontSize(function(d) {
            return d.size;
          })
          .on("end", drawSkillCloud1)
          .start();
        
        // function for set html of graph
        function drawSkillCloud1(words) {
          d3.select("#cloud_hoax").append("svg")
            // .attr("width", width)
            // .attr("height", height)
            .append("g")
            // .attr("transform", "translate(" + ~~(width / 2) + "," + ~~(height / 2) + ")")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) {
              return d.size + "px";
            })
            .style("-webkit-touch-callout", "none")
            .style("-webkit-user-select", "none")
            .style("-khtml-user-select", "none")
            .style("-moz-user-select", "none")
            .style("-ms-user-select", "none")
            .style("user-select", "none")
            .style("cursor", "default")
            .style("font-family", "Impact")
            .style("fill", function(d, i) {
              return fill(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) {
              return d.text;
            });
        }

        var svg1 = document.getElementsByTagName("svg")[0];
        var bbox1 = svg1.getBBox();
        var viewBox1 = [bbox1.x, bbox1.y, bbox1.width, bbox1.height].join(" ");
        svg1.setAttribute("viewBox", viewBox1);

        // use d3 js for not hoax wordcloud
        d3.layout.cloud()
          .size([width, height])
          .words(skillsToDraw2)
          .rotate(function() {
            return ~~(Math.random() * 2) * 90;
          })
          .font("Impact")
          .fontSize(function(d) {
            return d.size;
          })
          .on("end", drawSkillCloud2)
          .start();

        // function for set html of graph  
        function drawSkillCloud2(words) {
          d3.select("#cloud_nothoax").append("svg")
            // .attr("width", width)
            // .attr("height", height)
            .append("g")
            // .attr("transform", "translate(" + ~~(width / 2) + "," + ~~(height / 2) + ")")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) {
              return d.size + "px";
            })
            .style("-webkit-touch-callout", "none")
            .style("-webkit-user-select", "none")
            .style("-khtml-user-select", "none")
            .style("-moz-user-select", "none")
            .style("-ms-user-select", "none")
            .style("user-select", "none")
            .style("cursor", "default")
            .style("font-family", "Impact")
            .style("fill", function(d, i) {
              return fill(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) {
              return d.text;
            });
        }

        var svg2 = document.getElementsByTagName("svg")[1];
        var bbox2 = svg2.getBBox();
        var viewBox2 = [bbox2.x, bbox2.y, bbox2.width, bbox2.height].join(" ");
        svg2.setAttribute("viewBox", viewBox2);

      },
      error: function (error) {
        loaderPage(false)
        alert('There has been a problem with your ajax operation:', error);
      }
    });
</script>